<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="../src/css/styles.css" />

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>


    <script src="../src/js/app.js"></script>
  </head>

  <body>
    <div id="wrapper" class="container">
      <h1>Shuffling Pines</h1>
      <div class="row">
        <div class="col-md-12" ng-controller="TabController as tabCtrl">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active: tabCtrl.checkTab(1)}" ng-click="tabCtrl.setTab(1)"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
            <li role="presentation" ng-class="{active: tabCtrl.checkTab(2)}" ng-click="tabCtrl.setTab(2)"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="container">
            <div class="tab-content col-md-8">
              <!-- Tab pane 1 -->
              <div role="tabpanel" class="tab-pane" ng-class="{active: tabCtrl.checkTab(1)}" id="form" ng-show="tabCtrl.checkTab(1)" required>
                <div>

                  <form id="shuffleGuest" class="col-md-8 well" ng-controller="FormController as formCtrl" ng-submit="formCtrl.addGuest(); tabCtrl.setTab(2)" required>
                    <div class="form-group">
                      <label for="guestName">Guest Name</label>
                      <input type="text" class="form-control" ng-model="formCtrl.guestName" id="guestName" placeholder="" required>
                    </div>
                    <div class="form-group">
                      <label for="transitionDate">Transition Date</label>
                      <input type="date" class="form-control" ng-model="formCtrl.transitionDate" id="transitionDate" placeholder="" required>
                    </div>

                    <div class="form-group">
                      <label for="pickupDropoff">Travel Arrangements</label>
                      <select name="pickupDropoff" id="pickupDropoff" ng-model="formCtrl.status" required>
                        <option name="pickupDropoff" id="pickup" value="pick up">Pick-up</option>
                        <option name="pickupDropoff" id="dropoff" value="drop off">Drop-off</option>
                      </select>
                    </div>

                    <div class="form-group" ng-show="formCtrl.status=='pickup'">
                      <label for="location">Location</label>
                      <textarea class="form-control" ng-model="formCtrl.location" id="location"></textarea>
                    </div>
                    <div class="clearfix">
                      <button type="submit" id="submit" class="btn">Register Guest</button>
                    </div>
                  </form>

                  <!-- bound display -->
                  <div ng-show="true" class="col-md-6 well">
                    <div class="form-group">
                      <label>Guest Name: </label>
                      {{ formCtrl.guestName }}
                    </div>
                    <div class="form-group">
                      <label>Transition Date: </label>
                      {{ formCtrl.transitionDate }}
                    </div>
                    <div class="form-group">
                      <label>Status: </label>
                      {{ formCtrl.status }}
                    </div>
                    <div class="form-group">
                      <label>Location (if applicable): </label>
                      {{ formCtrl.location }}
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- Tab pane 2 -->
            <div role="tabpanel" class="tab-pane col-md-8" ng-class="{active: tabCtrl.checkTab(2)}" id="guests" ng-show="tabCtrl.checkTab(2)">
              <div ng-controller="GuestController as thisGuestController">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Transition Date</th>
                      <th>Status</th>
                      <th>Location</th>
                      <th>
                        <button ng-click="thisGuestController.purgeDeletedGuests()" class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Purge Guests</button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat="guest in thisGuestController.ourGuests">

                      <td>
                        <input type="text" ng-model="guest.guestName" ng-change="thisGuestController.editGuest(guest)"/>
                      </td>
                      <td>
                        <input type="text" ng-model="guest.transitionDate" ng-change="thisGuestController.editGuest(guest)"/>
                      </td>
                      <td>
                        <button class="btn btn-default" ng-click="thisGuestController.incrementGuestStatus(guest)">
                          {{guest.status}}
                        </button>
                      </td>
                      <td>
                        <input type="text" ng-model="guest.location" ng-change="thisGuestController.editGuest(guest)"/>
                      </td>
                      <td ng-switch on="guest.recordState">
                        <span ng-switch-when="pending removal">Guest Deleted</span>
                        <a ng-switch-default class="btn-sm btn-warning" ng-click="thisGuestController.removeGuest(guest)">
                          <span class="glyphicon glyphicon-remove"></span> Remove Guest</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
